/************** Dont change anything in the body ******************/
body {
	background: url(../img/12_col.gif) center top repeat-y;
	background-size: 90%;
}
/***********************************************************/

/* Begin coding your solution below */



[class*="border"] {
    border: 1px solid #333;
}

.container {
  width: 89%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px 30px;
  grid-template-rows: repeat(4, 210px); 
} 


#header {
     grid-column: 1 / 13; 
}
#box1 {
    grid-column: 1 / 3; 
}
#box2 {
    grid-column: 3 / 11;
}
#box3 {
     grid-column: 11 / 13;
} 
#content {
    grid-column: 1 / 10;
}
#sidebar {
    grid-column: 10 / 13;  
}
#footer-frame {
     grid-area: 4 / 1 / 5 / 13; 
}
#footer1 {
     grid-area: 4 / 1 / 5 / 4; 
     margin: 10px 0 10px 10px; 
}
#footer2 {
        grid-area: 4 / 4 / 5 / 7;  
        margin: 10px 0;     
} 
#footer3 {
        grid-area: 4 / 7 / 5 / 10; 
        margin: 10px 0;
}
#footer4 {
      grid-area: 4 / 10 / 5 / 13; 
      margin: 10px 10px 10px 0;
}

/* För skärmstorlek upp till 1200px */
@media screen and (max-width: 1200px) {
 .container {
     /* grid-gap: 10px 20px; */
    grid-template-rows: repeat(4, 160px);  
 }
#header {
     grid-column: 1 / 13;
}
#box1 {
    grid-column: 1 / 4; 
}
#box2 {
    grid-column: 4 / 10;
}
#box3 {
     grid-column: 10 / 13;
} 
#content {   
    grid-column: 1 / 9;  
}
#sidebar {
    grid-column: 9 / 13; 
}
#footer-frame {
     grid-area: 4 / 1 / 5 / 13; 
}

#footer1 {
     grid-area: 4 / 1 / 5 / 4; 
     margin: 10px 0 10px 10px;
}
#footer2 {
        grid-area: 4 / 4 / 5 / 7;  
        margin: 10px 0; 
} 
#footer3 {
        grid-area: 4 / 7 / 5 / 10; 
        margin: 10px 0;  
}
#footer4 {
      grid-area: 4 / 10 / 5 / 13; 
      margin: 10px 10px 10px 0;
}
}

/* För skärmstorlek upp till 960px */
@media screen and (max-width: 960px) {
.container {
    grid-template-rows: repeat(5, 105px);
}
#box1 {
    grid-column: 1 / 5; 
}
#box2 {
    grid-column: 5 / 9;
}
#box3 {
     grid-column: 9 / 13;
} 
#content {
    grid-column: 1 / 7;
}
#sidebar {
    grid-column: 7 / 13; 
}
#footer-frame {
     grid-area: 4 / 1 / 6 / 13; 
}
#footer1 {
     grid-area: 4 / 1 / 5 / 7; 
     margin: 10px 0 0 10px;   
}
#footer2 {
        grid-area: 4 / 7 / 5 / 13;  
        margin: 10px 10px 0 0;
} 
#footer3 {
        grid-area: 5 / 1 / 6 / 7; 
        margin: 10px 0 10px 10px;    
}
#footer4 {
      grid-area: 5 / 7 / 6 / 13; 
      margin: 10px 10px 10px 0;
}
}
/* För skärmstorlek upp till 768px */
@media screen and (max-width: 768px) {
    .container {
     grid-template-rows: repeat(10, 80px);
    }
    #header {
     grid-column: 1 / 13;
}
#box1 {
    grid-column: 1 / 13; 
}
#box2 {
    grid-column: 1 / 13;
}
#box3 {
     grid-column: 1 / 13;
} 
#content {
    grid-column: 1 / 13;
}
#sidebar {
    grid-column: 1 / 13;
}

#footer-frame {
     grid-area: 7 / 1 / 11 / 13; 
}

#footer1 {
     grid-area: 7 / 1 / 8 / 13; 
     margin: 8px 8px -5px 8px; 
}
#footer2 {
        grid-area: 8 / 1 / 9 / 13;  
        margin: -2.5px 8px;    
} 
#footer3 {
        grid-area: 9 / 1 / 10 / 13; 
        margin: -2.5px 8px; 
}
#footer4 {
      grid-area: 10 / 1 / 11 / 13; 
      margin: -5px 8px 8px 8px;
}
}
    
